body {
  background-color: rgb(16, 17, 59);
  color: whitesmoke;
}

.Nav {
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
  padding: 35px;
}

.Home {
  color: red;
  /* background-color: aliceblue; */
  height: 600px;

}

.LocationModal {
  border: 1px solid rgb(150, 139, 139);
  background-color: black;
  width: 700px;
  height: 300px;
  position: relative;
  left: 28%;
  top: 25%;
  text-align: center;
}

#LocationTitle {
  color: wheat;
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 5px;
}

#ModalContent {
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
}

#ModalContent input {
  height: 30px;
  width: 50%;
  margin: auto;
}
.weatherCard {
  position: relative;
  left: 15%;
  top: 15%;
  width: 1000px;
  height: 500px;
  background-color: darkblue;
  display: flex;
}

.unit {
  height: 450px;
  width: 350px;
  background-color: aliceblue;
  margin: 2%;
}